@import "~bootstrap/scss/bootstrap";

main {
  margin-top: 50px;
}

.posts {
  padding: 0;
  list-style: none;
  .post-link {
    &:hover, &:active, &:focus {
      cursor: pointer;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}