<template>
    <div>
        <div v-if="usePage && page">
            <h1 class="title" v-html="page.title.rendered"></h1>
            <div class="content" v-html="page.content.rendered"></div>
        </div>
        <div v-else>
            <ul class="posts">
                <router-link
                        :to="linkTo(post.link)"
                        tag="li"
                        class="post-link"
                        active-class="active"
                        v-for="post in posts"
                        :key="post.id"
                >
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title" v-html="post.title.rendered"></h4>
                            <h6 class="card-subtitle text-muted" v-html="formatDateTime(post.date)"></h6>
                            <p class="card-text" v-html="post.excerpt.rendered"></p>
                        </div>
                    </div>
                </router-link>
            </ul>
            <paginator :metadata="metaData" :loading="doingAjax" @changed="getPosts"></paginator>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import paginator from '../components/Paginator.vue';
    export default {
        components: {
            paginator: paginator,
        },
        data() {
            return {
                page: null,
                metaData: false,
                doingAjax: false,
                posts: [],
            }
        },
        mounted() {
            if (this.usePage) {
                this.getHomepage();
            } else {
                this.getPosts();
            }

        },
        computed: {
            usePage() {
                return window.app.site.home_is_page;
            }
        },
        methods: {
            getHomepage() {
                axios.get(`${window.app.routes.pages}/${window.app.site.home_page_id}`)
                    .then(({data}) => {
                        this.page = data;
                    });
            },
            getPosts(page) {
                if (!this.doingAjax) {
                    this.doingAjax = true;
                    axios.get(this.url(page))
                        .then(({data, headers}) => {
                            this.posts = data;
                            this.metaData = {
                                link: headers["link"],
                                total: headers["x-wp-total"],
                                totalPages: headers["x-wp-totalpages"]
                            };
                            this.doingAjax = false;
                        });
                }
            },
            url(page) {
                let urlString = `${window.app.routes.posts}?`;
                if (!page) {
                    urlString = `${urlString}&page=${this.currentMetaPage()}`;
                } else {
                    urlString = `${urlString}&page=${page}`;
                }

                return urlString;
            }
        }
    }
</script>