<template>
    <div>
        <div class="card" v-if="page">
            <div class="card-block">
                <h1 class="card-title" v-html="page.title.rendered"></h1>
                <h6 class="card-subtitle text-muted" v-html="formatDateTime(page.date)"></h6>
                <p class="card-text" v-html="page.content.rendered"></p>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                page: null
            }
        },
        mounted() {
            this.getPage();
        },
        methods: {
            getPage() {
                axios.get(`${window.app.routes.pages}?slug=${this.$route.params.pagename}`)
                    .then(({data}) => {
                        this.page = data[0];
                    });
            }
        }
    }
</script>