<template>
    <div>
        <div class="card" v-if="post">
            <div class="card-block">
                <h1 class="card-title" v-html="post.title.rendered"></h1>
                <h6 class="card-subtitle text-muted" v-html="formatDateTime(post.date)"></h6>
                <p class="card-text" v-html="post.content.rendered"></p>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                post: null
            }
        },
        mounted() {
            this.getPost();
        },
        methods: {
            getPost() {
                axios.get(`${window.app.routes.posts}?slug=${this.$route.params.postname}`)
                    .then(({data}) => {
                        this.post = data[0];
                    });
            }
        }
    }
</script>