<template>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <router-link
            :to="{name: 'home'}"
            class="navbar-brand"
            v-html="getBrandLogo()"
        ></router-link>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <router-link
                        :to="linkTo(item.url)"
                        tag="li"
                        class="nav-item"
                        active-class="active"
                        v-for="item in items"
                        :key="item.id"
                >
                    <a class="nav-link">{{ item.title }}</a>
                </router-link>
            </ul>
        </div>
    </nav>
</template>
<script>
    import axios from 'axios';
    export default {
        props: ['id'],
        data() {
            return {
                menu: null,
            }
        },
        mounted() {
            this.getMenu();
        },
        computed: {
            items() {
                if (this.menu && this.menu.hasOwnProperty('items')) {
                    return this.menu.items;
                }
                return [];
            }
        },
        methods: {
            getMenu() {
                axios.get(`${window.app.routes.menus}/${this.id}`)
                    .then(({data}) => {
                        this.menu = data;
                    })
            },
            getBrandLogo() {
                return window.app.site.logo;
            }
        }
    }
</script>