<template>
    <ul class="pagination mx-auto" v-show="shouldPaginate">
        <li class="page-item" :class="{'disabled': ( !(!!prevUrl) || loading ) }">
            <a href="#" class="page-link" rel="previous" @click.prevent="page--">Prev</a>
        </li>
        <li class="page-item" v-for="n in totalPages" :class="{'active': (n === page), 'disabled': loading }">
            <a href="#" class="page-link" v-text="n" @click.prevent="page = n"></a>
        </li>
        <li class="page-item" :class="{'disabled': ( !(!!nextUrl) || loading ) }">
            <a href="#" class="page-link" rel="next" @click.prevent="page++">Next</a>
        </li>
    </ul>
</template>
<script>
    export default {
        props: [
            'metadata',
            'loading'
        ],
        data() {
            return {
                page: 1,
                currentPage: 1,
                totalPages: 1,
                prevUrl: false,
                nextUrl: false,
            }
        },
        watch: {
            metadata() {
                // PrevUrl from WP-Api header
                let prevRegex = /<(https?:.+)>; rel="prev".?/;
                let prevUrl = prevRegex.exec(this.metadata.link);
                this.prevUrl = prevUrl ? prevUrl[1] : false;

                // NextUrl link from WP-Api header
                let nextRegex = /<(https?:.+)>; rel="next".?/;
                let nextUrl = nextRegex.exec(this.metadata.link);
                this.nextUrl = nextUrl ? nextUrl[1] : false;

                this.totalPages = parseInt(this.metadata.totalPages);
            },
            page() {
                if (!this.loading) {
                    this.broadcast();
                }
            }
        },
        methods: {
            broadcast() {
                return this.$emit('changed', this.page);
            },
        },
        computed: {
            shouldPaginate() {
                return !!(this.prevUrl || this.nextUrl)
            }
        }
    }
</script>